@use '../../../Styles/Colors.scss' as Color;
@use '../../../Styles/Fonts.scss' as Font;
@use '../../../Styles/Formats.scss' as Format;

.Simple_Input_And_Lable{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2px;
    
    label{
      width: 100%;
      font-family: Font.$font_family_poppins;
      font-weight: 500;
      font-size: 15px;
    }
    
    input{
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
      border-radius: Format.$border_radius;
      font-family: Font.$font_family_poppins;
      box-sizing: border-box;
      text-align: center;
  
      &:focus{
        background: none;
      }
    }
  }
  
.Dark_Mode{

  .Simple_Input_And_Lable{
    
    label{
      color: Color.$gray;
    }

    input{
      background-color: Color.$primary_color_dark;
      border: 1px solid Color.$gray;
      color: Color.$gray;

      &:focus{
        border: 1px solid Color.$blue;
      }
    }
  }
}

.Light_Mode{

  .Simple_Input_And_Lable{
    
    label{
      color: Color.$black;
    }

    input{
      background-color: Color.$primary_color_light;
      border: 1px solid Color.$black;
      color: Color.$black;

      &:focus{
        border: 1px solid Color.$blue;
      }
    }
  }
}