$primary_color_dark: #0b1727;
$primary_color_light: #f7f9fc;

$secundary_color_dark: #121e2d;
$secundary_color_light: #ffffff;

$tertiary_color_dark: #162231;
$tertiary_color_light: #e4e9f2;

$white: #ffffff;

$blue: #3083f1;

$gray: #9da9bb;

$yellow: #f0b90b;

$black: #4e565f;