$primary_color_dark: #0b1727;
$primary_color_light: #f7f9fc;

$secundary_color_dark: #121e2d;
$secundary_color_light: #ffffff;

$tertiary_color_dark: #162231;
$tertiary_color_light: #e4e9f2;

$fourth_color_dark: #232e3c;
$fourth_color_light: #edf2f9;

$white: #ffffff;

$blue_light: #4695ff;
$blue: #3083f1;
$blue_dark: #062a57;
$blue_darker: #01224b;

$gray_light: #d8e2ef;
$gray: #9da9bb;

$yellow: #f0b90b;

$orange: #ee783c;

$black: #4e565f;

$red: #802323;

$red_light: #e76f6f;