@use '../../../Styles/Colors.scss' as Color;
@use '../../../Styles/Fonts.scss' as Font;
@use '../../../Styles/Formats.scss' as Format;

.SideBar_Home{
  position: fixed;
  width: 250px;
  height: 93vh;    
  margin-top: 5vh;
  margin-left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  border-radius: 10px 10px 10px 10px;
  background-color: #232e3c;
  transition: width 0.3s ease, opacity 0.3s ease;

  ul{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    box-sizing: border-box;
    list-style: none;

    li{
      width: 100%;
      height: auto;

      a{
        display: flex;
        gap: 20px;
        align-items: center;

        .Icon{
          
          div{
            width: 25px;
          }
        }

        .Nav_Text{

          span{
            font-family: Font.$font_family_roboto;
            font-size: 15px;
            color: Color.$gray;
          }
        }
      }
    }
  }
}