@use '../../../Styles/Colors.scss' as Color;
@use '../../../Styles/Fonts.scss' as Font;
@use '../../../Styles/Formats.scss' as Format;

.Index{
  position: relative;
  width: 100%;
  height: 100vh;

  .Apresentation{
    position: relative;
    width: 100%;
    height: 90vh;
    width: 100%;
    box-sizing: border-box;
    padding: 50px 50px 50px 50px;
    display: flex;
    align-items: center;
    background-color: Color.$primary_color_dark;
    
    .Container{
      position: relative;
      width: 100%;
      height: 70vh;
      display: flex;
    
      .Video{
        width: 60%;
        height: 100%;
        z-index: 1;
        padding: 8px;
        box-sizing: border-box;
        
        div{
          width: 100%;
          height: 100%;
          outline: 8px solid Color.$secundary_color_dark;
          border-radius: Format.$border_radius;
          box-shadow: Format.$box_shadow;

          video{
            width: 100%;
            height: 100%;
            overflow: clip;
            object-fit: cover;
          }
        }
      }
    }

    .Company_Info{
      width: 40%;
      height: 100%;

      .Contente{
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        text-align: left;
        align-items: letf;
        gap: 20px;
        padding-right: 50px;
        box-sizing: border-box;

        span:nth-child(1){
          font-family: Font.$font_family_roboto;
          font-weight: 600;
          font-size: 45px;
          letter-spacing: 2px;
          color: Color.$yellow;
        }

        span:nth-child(2){
          font-family: Font.$font_family_roboto;
          font-weight: 600;
          font-size: 20px;
          letter-spacing: 2px;
          color: Color.$white;
        }

        span:nth-child(3){
          font-family: Font.$font_family_open_sans;
          font-weight: 500;
          font-size: 18px;
          letter-spacing: 2px;
          color: Color.$gray;
        }

        .Buttons{
          position: relative;
          display: flex;
          width: 100%;
          gap: 20px;
          margin-top: 10px;

          a{
            position: relative;
            text-decoration: none;
            font-family: Font.$font_family_open_sans;
            font-weight: 600;
            font-size: 15px;
            letter-spacing: 1px;
            border-radius: Format.$border_radius;
            padding: 10px;
            width: 100%;
            text-align: center;
          }

          a:nth-child(1){
            background-color: Color.$white;
            color: Color.$primary_color_dark;
          }

          a:nth-child(2){
            background-color: Color.$yellow;
            color: Color.$primary_color_dark;
          }
        }
      }
    }
  }
}

@media (max-width: 1500px) {

  .Index{

    .Apresentation{

      .Container{
        height: 70vh;
        margin-top: 10vh;

        .Video{
          width: 50%;
        }

        .Company_Info{
          width: 50%;

          span:nth-child(1){
            font-size: 40px;
          }
  
          span:nth-child(2){
            font-size: 18px;
          }
  
          span:nth-child(3){
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {

  .Index{

    .Apresentation{

      .Container{
        flex-direction: column-reverse;
        height: 100%;
        gap: 30px;

        .Video{
          width: 100%;
          height: 50%;
        }

        .Company_Info{
          width: 100%;
          height: 50%;

          .Contente{
            text-align: center;
            align-items: center;
            gap: 20px;
            padding-right: 0px;
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {

  .Index{

    .Apresentation{
      padding: 80px 10px 10px 10px;
      height: 100vh;

      .Container{
        flex-direction: column-reverse;
        height: 100%;
        margin-top: 0vh;
        gap: 30px;

        .Video{
          width: 100%;
          height: 50%;
        }

        .Company_Info{

          span:nth-child(1){
            letter-spacing: 0px;
          }
  
          span:nth-child(2){
            letter-spacing: 0px;
          }
  
          span:nth-child(3){
            letter-spacing: 0px;
          }

          .Buttons{

            a{
              letter-spacing: 0px;
              padding: 10px;
            }
          }
        }
      }
    }
  }
}