.Intri {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: right;

  .Container_Sidebar_Home {
    width: calc(100% - 270px);
    height: auto;
    margin-top: 7vh;
    transition: 0.3s all;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    transition: all 0.3s;
    display: flex;
    padding: 0px 10px 15px 10px;
  }

  .Container_With_MobileMenu {
    width: 100%;
    height: auto;
    margin-top: 6vh;
    transition: 0.3s all;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    transition: all 0.3s;
    display: flex;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
  }
}
