.Intri {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: right;

  .Small_Container_With_SideBar_Open {
    width: calc(100% - 270px);
    height: auto;
    margin-top: 5vh;
    transition: 0.3s all;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    transition: all 0.3s;
    display: flex;
    padding: 0px 10px 0px 10px;
    // background-color: red !important;
  }

  .Small_Container_With_SideBar_Close {
    width: calc(100% - 70px);
    height: auto;
    margin-top: 5vh;
    transition: 0.3s all;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    transition: all 0.3s;
    display: flex;
    padding: 0px 10px 0px 10px;
    // background-color: red !important;
  }

  .Container_With_MobileMenu {
    width: 100%;
    height: auto;
    margin-top: 3vh;
    transition: 0.3s all;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    transition: all 0.3s;
    display: flex;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
  }
}
